name: flutter_effect_system
description: A lightweight declarative effect system for Flutter (shake, flash, ripple, particle).
version: 0.2.0
environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

homepage: https://github.com/CelkMehmett/flutter_effect_system
repository: https://github.com/CelkMehmett/flutter_effect_system
license: MIT
